@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");

body{
	font-family: 'Lora',serif;
	font-size: 18px;
	margin: 0px;

}

h1, h2, h3 {
	font-family: 'Roboto',sans-serif;
	font-weight: bold;

}

a {
	text-decoration: none;
}


.container {
	width: 700px;
	margin: 0 auto;

}

.avatar {
	width: 200px;
	height: 150px;
}

.avatar2 {
	width: 200px;
    height: 150px;
    border-radius: 6px;

}

.avatar3 {
	width: 150px;
	height: 100px;

}


.btn-red {
	background-color: darkred;
	padding: 15px 20px;
	border-radius: 7px;
	color: white;
	font-weight: bold;
}

.banner {
	background-image:url(images/backgroundv1.jpg);
	color: white;
	padding: 150px 0px;
	background-size: cover;

}

.banner h1{
	font-size: 50px;

}

.banner h2{
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
}

.card {
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	margin: 20px 0px;
	flex-grow: 1;
	flex-basis: 100px;

}

.cards {
	display: flex;
	flex-wrap: wrap ;
}

h2 {
	margin: 3px;

}


h3 {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 18px;
}







@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
